{% extends "blog/base.html" %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
<div class="container overflow-hidden text-break" style="width: 800px;">
    <div class="container-md rounded border border-primary mt-3 bg-light text-dark">
        <div class="p-3">
            <h1>{{ post.title }}</h1>
        </div>
        <p class="date fw-bolder">
            Published {{ post.publish }} by {{ post.author }}
        </p>
        {{ post.body|linebreaks }}
        <div class="d-grid d-md-flex justify-content-md-end mb-3">
            <a href="{% url 'blog:post_share' post.id %}" class="btn btn-primary btn-lg">
                Share this post
            </a>
        </div>
        <h2>Похожие посты</h2>
        {% for post in similar_posts %}
            <p>
                <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
            </p>
            {% empty %}
            Похожих постов пока нет.
        {% endfor %}
    </div>
    <div class="container-md mt-5 container-md rounded border mt-3 bg-light text-dark">
        {% with comments.count as total_comments %}
            <h2>
                {{ total_comments }} comment {{ total_comments|pluralize }}
            </h2>
        {% endwith %}
        <div class="mt-2">
            {% for comment in comments %}
            <div class="comment container-md rounded border mt-3 mb-5 bg-light text-dark">
                <p class="info">
                    Comment {{ forloop.counter }} by {{ comment.name }}
                    {{ comment.created }}
                </p>
                {{ comment.body|linebreaks }}
            </div>
                {% empty %}
                    <p>There are no comments.</p>
            {% endfor %}
                {% include "blog/post/include/comment_form.html" %}
            </div>
        </div>
    </div>
</div>
{% endblock %} 